<?xml version="1.0"?>
<model>
  <name>photovoltaic</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>WangYizhi</name>
    <email>1398241459@qq.com</email>
  </author>
  <depend>
    <model>
      <uri>model://photovoltaic</uri>
      <version>1.0</version>
    </model>
  </depend>
  <description>
    A model of the photovoltaic.
  </description>
</model>
